<div class="mainDiv">
  <div style="flex:40%"></div>
  <mat-card class="loginCard" style="flex:20%">
      <b><mat-card-subtitle>Login</mat-card-subtitle></b>
      <mat-divider></mat-divider>
      <mat-card-content>
          <form class="login-form">
              <div class="input-class">
                <mat-form-field class="full-width">
                  <mat-icon class="prefix-icon">person</mat-icon>
                  <input matInput placeholder="Username">
                </mat-form-field>
              </div>
              <br>
              <div class="input-class">
                <mat-form-field class="full-width">
                  <mat-icon class="prefix-icon">vpn_key</mat-icon>
                  <input matInput placeholder="Password" type="password">
                </mat-form-field>
              </div>
            </form>

            <button mat-raised-button class="login-button">Login</button>
      </mat-card-content>
  </mat-card>
  <div style="flex:40%"></div>
</div>